
<h1>@ViewBag.Welcome</h1>
<br />
<h4>Thank you for registering!!!<br /><br />Here is your account info:</h4>
<br />
<table>
    <tr>
        <td><b>First Name: <b/></td>
        <td>@ViewBag.FirstName</td>
    </tr>
    <tr>
        <td><b>Last Name: </b></td>
        <td>@ViewBag.LastName</td>
    </tr>
    <tr>
        <td><b>Email:</b></td>
        <td>@ViewBag.Email</td>
    </tr>
    <tr>
        <td><b>Phone:</b></td>
        <td>@ViewBag.Phone</td>
    </tr>
</table>
<br />
<br />
<p>@ViewBag.Animal</p>
<br />
<br />
<p><b>@ViewBag.Lottery</b></p>
<br />
<br />
<h3>Enjoy alllll the coffeeeeeeeeeeeeeeeee!!!!!!</h3>

